# Supabase Configuration
VITE_SUPABASE_URL=https://zmbzqhkqnxpwrrwctonm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptYnpxaGtxbnhwd3Jyd2N0b25tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3OTczMzQsImV4cCI6MjA2NTM3MzMzNH0.L41L7l7qtzRQYVllz32RXNZbNBm34pfl_4Bkb7LKCLg 